@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Poppins', sans-serif;
}

.background {
	position: relative;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 100vh;
}

.background::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.65); /* This is equivalent to bg-black bg-opacity-50 */
	z-index: 1;
}

.background > * {
	position: relative;
	z-index: 2;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in {
	opacity: 0;
	animation: fadeIn 2.5s ease-out forwards;
	will-change: opacity;
	/* By specifying the 'will-change: opacity;' we're telling the browser, "Hey, the opacity of this element is likely to change soon, so please optimize for that." */
}

.delay-1 {
	animation-delay: 0.5s;
}

.delay-2 {
	animation-delay: 1s;
}

.delay-3 {
	animation-delay: 1.5s;
}

.balanced-text {
	text-wrap: balance;
}

@keyframes staggerFadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.stagger-fade-in {
	opacity: 0;
	animation: staggerFadeIn 0.75s ease forwards;
}

/* Add animation delay classes */
.stagger-delay-0 {
	animation-delay: 0s;
}
.stagger-delay-1 {
	animation-delay: 0.1s;
}
.stagger-delay-2 {
	animation-delay: 0.2s;
}
.stagger-delay-3 {
	animation-delay: 0.3s;
}
.stagger-delay-4 {
	animation-delay: 0.4s;
}
.stagger-delay-5 {
	animation-delay: 0.5s;
}
